body {width: 600px;}

.nav-block { padding: 10px; margin: 5px; border: 1px solid #ccc; }
.nav-block.inline { display: inline-block; }
.nav-block.nav-focused { border-color: #008CBA; box-shadow: 0 1px 3px #008CBA; }

/* Header */
.header { background-color: #EEEEEE; padding: 10px; }

.tabs div { display: inline-block; padding: 10px 20px; margin: 0 0 -1px; border-style: solid; border-color: transparent; border-width: 2px 1px 1px; box-sizing: border-box }
.tabs div.selected { border-color: #008CBA #999 #EEE; }
.tabs div.nav-focused { border-color: #008CBA; background-color: #008CBA; color: #FFFFFF; box-shadow: 0 1px 3px #008CBA; }

.tab-content { border-top: 1px solid #999; padding: 10px 5px 5px 5px; min-height: 100px; }

/* Body */
.nav-block.table { text-align: center }
.nav-block.table > div { font-size: 0.9em; height: 20px; }
.nav-block.table table { width: 100%; table-layout: fixed }

/* Footer */
.footer { background-color: #EEEEEE; padding: 10px; text-align: center }